<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Booking Confirmation</title>
    <style>
        body {
            font-family: 'Helvetica Neue', Arial, sans-serif;
            color: #333333;
            margin: 0;
            padding: 0;
            background-color: #f5f5f5;
        }
        .container {
            width: 100%;
            max-width: 600px;
            margin: 30px auto;
            padding: 20px;
            background-color: #ffffff;
            border-radius: 8px;
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        }
        .header {
            text-align: center;
            padding: 20px 0;
        }
        .header img {
            width: 120px;
        }
        .content {
            padding: 0 20px;
            text-align: center;
        }
        .content h1 {
            color: #333333;
            font-size: 24px;
            margin-bottom: 20px;
        }
        .content p {
            margin: 10px 0;
            font-size: 16px;
            line-height: 1.5;
        }
        .details {
            background-color: #f5f5f5;
            border-radius: 8px;
            padding: 15px;
            margin: 20px 0;
            text-align: left;
        }
        .details p {
            margin: 5px 0;
            font-size: 14px;
        }
        .footer {
            text-align: center;
            padding: 20px 0;
            font-size: 14px;
            color: #999999;
        }
        table {
        border-collapse: collapse;
        border: 1px;
        }
    </style>
</head>
<body>
    <div class="container">
        <div class="header">
            <img src="https://i.imgur.com/SkOGGbd.png" alt="Company Logo">
        </div>
        <div class="content" >
            <h1>Booking Confirmed!</h1>
            <p>Dear {{name}},</p>
            <p>We are pleased to inform you that your booking has been successfully confirmed. Here are the details of your booking:</p>
            
             {{#if showRoomDetail}}
            <div class="details">
             Following are booking for Room :
                <table border="1">
                <tr><th>BookingId</th><th>Checkin</th><th>Checkout</th></th>

                {{#each roomBookingDetails}}
                <tr>
                    <td>{{bookingid}}</td>
                    <td>{{checkin}}</td>
                    <td>{{checkout}}</td>
                </tr>
                {{/each}}      
            </table>   
            </div>
            {{/if}} 
          
        {{#if showFlatDetail}}
            <div class="details">
             Following are bookings for Flat :
                <table border="1">
                <tr><th>BookingId</th><th>Flat No.</th><th>Checkin</th><th>Checkout</th></th>

                {{#each flatBookingDetails}}
                <tr>
                    <td>{{bookingid}}</td>
                    <td>{{flatno}}</td>
                    <td>{{checkin}}</td>
                    <td>{{checkout}}</td>
                </tr>
                {{/each}}      
            </table>   
         
        </div>

        {{/if}} 

        {{#if showAdhyanDetail}}
        
       
         <div class="details" >
            
            Following are bookings for Raj Adhyayan:</p>
            <table border="1">
                <tr><th>BookingId</th><th>Adhyayan Name</th><th>Speaker</th><th>Start Date</th><th>End Date</th>
                <th>Status</th></tr>
                 {{#each adhyanBookingDetails}}
                <tr>
                    <td>{{bookingid}}</td>
                    <td>{{name}}</td>
                    <td>{{speaker}}</td>
                    <td>{{startdate}}</td>
                    <td>{{enddate}}</td>
                    <td>{{status}}</td>
                </tr>
                {{/each}}    

            </table>    
            
            
            <div class="note">
                <p><strong>Please note:</strong> The shibir committee reserves the right to cancel your booking within 7 days if you do not meet the shibir criteria.</p>
            </div>
        </div>
       {{/if}}

        {{#if showTravelDetail}}
         <div class="details" >
            
            Following are bookings for Raj Pravas:</p>

            <table border="1">
                <tr><th>BookingId</th><th>Date</th><th>Pickup Point</th><th>Dropoff Point</th>
                </tr>
                
                 {{#each travelBookingDetails}}
                <tr>
                    <td>{{bookingid}}</td>
                    <td>{{date}}</td>
                    <td>{{pickuppoint}}</td>
                    <td>{{dropoffpoint}}</td>   
                </tr>
                {{/each}}    

            </table>    
        </div>    
            
            <div class="section"></div>
                <h2>Standard Pickup Locations and Timings from Mumbai to Research Center:</h2>
                <ul>
                    <li>Dadar Swaminarayan Temple - 8:00 am</li>
                    <li>Amar Mahal - Chembur / Ghatkopar - 8:20 am</li>
                    <li>Mulund - Airoli Junction - 8:40 am</li>
                </ul>
            </div>

            <div class="section">
                <h2>Standard Pickup Location and Timing from Research Center to Mumbai:</h2>
                <ul>
                    <li>Reception Area at 1:00 pm</li>
                </ul>
            </div>

            <div class="steps">
                <h2>Next Steps</h2>
                <p>We will review your travel request and update the status on the portal.</p>
                <p>Please read the Raj Pravas guidelines carefully: <a class="link" href="https://drive.google.com/file/d/1kodGs34F8W3m8GHfm3bMzROaUGNoIVav/view?usp=sharing">Click here for guidelines</a></p>
                <p>You can view the status of your request under "View/Cancel My Booking" by <a class="link" href="http://datachef.in/sratrc/rajpravas/cancel_via_phone.php">clicking here</a>.</p>
            </div>

            <div class="steps">
                <h2>Payment Instructions</h2>
                <p>Once your travel booking status is <span class="highlight">Approved, pending payment confirmation</span>, please pay the amount shown on the screen under "View/Cancel My Booking" using the UPI ID <b>sratrc@ibl</b>. You can copy & paste the UPI ID (sratrc@ibl) in Google Pay, Amazon Pay, Paytm, PhonePe, FreeCharge, MobiKwik, etc. to make the payment.</p>
                <p>Post payment, please share a screenshot of the payment along with your booking ID with the Raj Pravas Team.</p>
            </div>

            <div class="steps">
                <h2>Travel Confirmation</h2>
                <p>Once your travel is confirmed, you can coordinate with Sandeep Driver at <b>+919769975704</b> only on the date of your travel.</p>
            </div>
       
       {{/if}}   
       
       </div>

        <div>
            <a href='http://datachef.in/sratrc/rajsharan/guidelines/rc_guidelines.pdf' target='_blank'>Please Click Here to Read</a> the guidelines for your stay at Research Center We hope you have a spiritually blissful stay.</p>
            <p>If you have any questions or need further assistance, please feel free to contact us at <b>7875432613 / 9004273512</b></p>
        </div>      
        <div class="footer">
            &copy; 2024 SRATRC. All rights reserved.
        </div>
    </div>
</body>
</html>
